// out:false
@blogHoverColor: rgb(228, 213, 188);
@blogColor: rgb(42, 89, 167);
@blogBg: rgba(255, 255, 255, 0.2);
html,
body,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}
#app {
  text-align: center;
  header {
    height: 50px;
    line-height: 50px;
    padding: 5px 0;
    background-color: @blogBg;
    nav {
      height: 100%;
    }
  }
  .hover-color {
    color: @blogColor;
    transition: 0.5s;
    a {
      color: @blogColor;
      text-decoration: none;
      &:hover {
        color: @blogHoverColor;
      }
    }
  }
}
